body {
      color: rgb(62, 255, 94);
      background: black
      margin: 3px;
}

header {
      border-bottom: solid 2px rgb(62, 255, 94);
      padding: 20px;
      font-size: 40px color: rgb(62, 255, 94);
}