body {
      color: rgb(62, 255, 94);
      background: black;
      margin: 3px;
}

header {
      border-bottom: solid 2px rgb(62, 255, 94);
      padding: 20px;
      font-size: 32px;
      color: rgb(62, 255, 94);
}
/* Make iframe responsive */
iframe {
      max-width: 100%;
      height: auto;
  }
  